h1 {
    color: #ff0000;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-family: 18px;
    font-size: 18px;
}

P {
    color: #ff0000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}